@inherits LayoutComponentBase
<Layout>
    <NavMenu  collapsed="collapsed" />


    <Layout Class="site-layout">
        <Header Class="site-layout-background" Style="padding: 0;padding-left:14px;" >
            <div style="display:flex">
                <div style="flex-shrink:0">

                    @if (collapsed)
                    {
                        <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="toggle" />
                    }
                    else
                    {
                        <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="toggle" />
                    }
                </div>
              
                <div style="width:100%;display:flex">
                    <div class="nav-center" style="width:100%"></div>
                    <div class="nav-right" style="width:250px;flex-shrink:0;padding-right:20px">
                        <LoginDisplay />
                    </div>
                </div>
            </div>
          
        </Header>
        <Content  >
            @Body
        </Content>
    </Layout>
</Layout>

<style>
    #components-layout-demo-custom-trigger .trigger {
        font-size: 18px;
        line-height: 40px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
    }

        #components-layout-demo-custom-trigger .trigger:hover {
            color: #1890ff;
        }

   

    .site-layout .site-layout-background {
        background: #fff;
    }
</style>

@code{
    bool collapsed = false;



    void ToggleCollapsed()
    {
        collapsed = !collapsed;
    }
    void OnCollapse(bool isCollapsed)
    {
        Console.WriteLine($"Collapsed: {isCollapsed}");


    }

    void toggle()
    {
        collapsed = !collapsed;
    }
}