@inject MenuService menuService

<Sider Collapsible Collapsed=@collapsed NoTrigger OnCollapse="OnCollapse">
    <div class="logo">
        <img src="/images/avatar.jpg" alt="Logo" />
    </div>
    <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"1"})>
        @foreach (var menu in menus)
        {
            
        <SubMenu Key="@(menu.id.ToString())" Title="menu.text">
            @foreach (var subMenu in menu.childrens)
            {
                <MenuItem RouterLink="@(subMenu.link)">
                    <Icon Type="user" Theme="outline" />
                    <span>@(subMenu.text)</span>
                </MenuItem>
            }

        </SubMenu>
        }

       
    </Menu>
</Sider>

@*<img src="/images/avatar.jpg" alt="Alternate Text" />*@

<style>

   

    .ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger {
        min-height: 100vh;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
    }

        .logo > img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

    #components-layout-demo-custom-trigger .logo {
        height: 64px;
        background: rgba(255, 255, 255, 0.2);
    }
</style>

@code {
    [Parameter]
    public bool collapsed { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        await refresh();
    }
    public async Task refresh()
    {
        var myMenus=  await  menuService.loadMyMenusAsync();
        menus = myMenus;

    }

    public List<MyMenu> menus { get; set; } = new List<MyMenu>()
    {
        new MyMenu
        {
            id=1,
            text="角色权限",
            childrens=new List<MyMenu>{
                new MyMenu{id=2,text="菜单管理",link="/rbac/menu"}
            }    },
        new MyMenu
        {
            id=3,
            text="开发者管理",
            childrens=new List<MyMenu>
            {
                new MyMenu{id=4,text="公司管理",link="/developer/company-manage"}
            }
        },
          new MyMenu
        {
            id=4,
            text="个人中心",
            childrens=new List<MyMenu>
            {
                new MyMenu{id=4,text="个人设置",link="/person-center/user-setting"}
            }
        }

    };


    void ToggleCollapsed()
    {
        collapsed = !collapsed;
    }
    void OnCollapse(bool isCollapsed)
    {
        Console.WriteLine($"Collapsed: {isCollapsed}");


    }

    void toggle()
    {
        collapsed = !collapsed;
    }

}